In [25]:
import pandas as pd
f_lang='hi'

s_lang='kn'
firstSet = f"/data1/home/piyushmishra/newgithub/v2/en-{f_lang}"
secondSet = f"/data1/home/piyushmishra/newgithub/v2/en-{s_lang}"

In [26]:
with open(f'{firstSet}/train.en', 'r',encoding='utf-8', errors='ignore') as f:
    firstSetSI = f.readlines()

with open(f'{firstSet}/train.{f_lang}', 'r',encoding='utf-8', errors='ignore') as f:
    firstSetSII = f.readlines()

with open(f'{secondSet}/train.en', 'r',encoding='utf-8', errors='ignore') as f:
    secondSetSI = f.readlines()

with open(f'{secondSet}/train.{s_lang}', 'r',encoding='utf-8', errors='ignore') as f:
    secondSetSII = f.readlines()

print(f"firstSetSI: {len(firstSetSI)}, Unique firstSetSI: {len(set(firstSetSI))}")
print(f"firstSetSII: {len(firstSetSII)}, Unique firstSetSII: {len(set(firstSetSII))}")
print(f"secondSetSI: {len(secondSetSI)}, Unique secondSetSI: {len(set(secondSetSI))}")
print(f"secondSetSII: {len(secondSetSII)}, Unique secondSetSII: {len(set(secondSetSII))}")

firstSetSI: 10125706, Unique firstSetSI: 7004215
firstSetSII: 10125706, Unique firstSetSII: 9447884
secondSetSI: 4093524, Unique secondSetSI: 2231884
secondSetSII: 4093524, Unique secondSetSII: 4036569

In [27]:
intersect = set(firstSetSI).intersection(secondSetSI)
# print(intersect[:25])
print(len(set(intersect)))

988083

In [28]:
df1 = pd.DataFrame({
    "English":firstSetSI,
    f"{f_lang}":firstSetSII
    })
df2 = pd.DataFrame({
    "English":secondSetSI,
    f"{s_lang}":secondSetSII
    })

In [29]:
df1.head()

,English,hi
0,"However, Paes, who was partnering Australia's ...",आस्ट्रेलिया के पाल हेनली के साथ जोड़ी बनाने वाल...
1,"Whosoever desires the reward of the world, wit...",और जो शख्स (अपने आमाल का) बदला दुनिया ही में च...
2,The value of insects in the biosphere is enorm...,"जैव-मंडल में कीड़ों का मूल्य बहुत है, क्योंकि ..."
3,Mithali To Anchor Indian Team Against Australi...,आस्ट्रेलिया के खिलाफ वनडे टीम की कमान मिताली को\n
4,After the assent of the Honble President on 8t...,"8 सितम्‍बर, 2016 को माननीय राष्‍ट्रपति की स्‍व..."

In [30]:
dictionary={}
for i in range((df1.shape[0])):
    eng = df1.iloc[i]['English']
    if eng in dictionary.keys():
        if len(dictionary[eng])>2:
            print(eng)
            print(dictionary[eng]) 
            break
        dictionary[eng].append(df1.iloc[i]['hi'])
    else:
        dictionary[eng]=[df1.iloc[i]['hi']]

Police have registered case and started search against the accused.

['इस बारे में पुलिस ने आरोपियों के खिलाफ मामला दर्ज कर जांच शुरू कर दी है।\n', 'पुलिस ने मामले की जांच के बाद आरोपी व्यक्ति के खिलाफ मामला दर्ज कर कार्रवाई शुरू कर दी है।\n', 'पुलिस ने आरोपी व्यक्ति के खिलाफ केस दर्ज कर जांच शुरू कर दी है।\n']

In [31]:
# df=df1.drop_duplicates(['English'])

In [10]:
# df.shape

(7004215, 2)

In [32]:
df1.shape

(10125706, 2)

In [33]:
df2.shape

(4093524, 2)

In [41]:
data = {'Name': ['Tom', 'nick', 'krish', 'Tom'],
        'Age': [20, 21, 19, 18]}
data1 = {'Name': ['piyush', 'Tom', 'eyush', 'Tom'],
'numbers': [23, 21, 19, 180]}
newdf=pd.DataFrame(data)
newdf1=pd.DataFrame(data1)

In [42]:
newdf

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3    Tom   18

In [43]:
newdf1

     Name  numbers
0  piyush       23
1     Tom       21
2   eyush       19
3     Tom      180

In [46]:
ndf = pd.merge(newdf, newdf1, on='Name')
ndf

  Name  Age  numbers
0  Tom   20       21
1  Tom   20      180
2  Tom   18       21
3  Tom   18      180

In [47]:
ndf.drop_duplicates(['Name','Age','numbers'])

  Name  Age  numbers
0  Tom   20       21
1  Tom   20      180
2  Tom   18       21
3  Tom   18      180

In [45]:
df = pd.merge(df1, df2, on='English')
print(df.shape)

(10905314, 3)

In [46]:
df.head()

,English,hi,kn
0,The value of insects in the biosphere is enorm...,"जैव-मंडल में कीड़ों का मूल्य बहुत है, क्योंकि ...",ಜೀವಗೋಳದಲ್ಲಿ ಕೀಟಗಳು ಅತಿ ಹೆಚ್ಚಿನ ಮಹತ್ವವನ್ನು ಹೊಂದ...
1,"""Jesus responded, as he taught in the temple, ...","फिर यीशु ने मन्दिर में उपदेश करते हुए यह कहा, ...",ಯೇಸು ದೇವಾಲಯದಲ್ಲಿ ಬೋಧಿಸುತ್ತಿದ್ದಾಗ-- ಕ್ರಿಸ್ತನು ದ...
2,Share videos\n,वीडियो क्लिप शेयर किए\n,ವೀಡಿಯೊಗಳನ್ನು ಹಂಚಿಕೊಳ್ಳಲಾಗುತ್ತಿದೆ\n
3,Share videos\n,देेखें वीडियो\n,ವೀಡಿಯೊಗಳನ್ನು ಹಂಚಿಕೊಳ್ಳಲಾಗುತ್ತಿದೆ\n
4,They are not seen anywhere.\n,दोनों ही कहीं भी दिखाई नहीं पड़ रहे।\n,ಎಲ್ಲಿಯೂ ಅವರನ್ನು ಗುರುತಿಸುವವರೂ ಕಾಣುವುದಿಲ್ಲ.\n

In [48]:
import pandas as pd
df=pd.read_csv("/data1/home/piyushmishra/newgithub/parallel_data_output/enhibn_wd.csv")

In [49]:
df.shape

(21220159, 3)

In [54]:
df.head()

,English,Hindi,Bengali
0,"Whosoever desires the reward of the world, wit...",और जो शख्स (अपने आमाल का) बदला दुनिया ही में च...,"যে কেউ দুনিয়ার কল্যাণ কামনা করবে, তার জেনে রাখ..."
1,"Whosoever desires the reward of the world, wit...",और जो शख्स (अपने आमाल का) बदला दुनिया ही में च...,ওহে যারা ঈমান এনেছ! তোমরা ন্যায়বিচারের দৃঢ় প্...
2,"Whosoever desires the reward of the world, wit...","जो कोई दुनिया का बदला चाहता है, तो अल्लाह के प...","যে কেউ দুনিয়ার কল্যাণ কামনা করবে, তার জেনে রাখ..."
3,"Whosoever desires the reward of the world, wit...","जो कोई दुनिया का बदला चाहता है, तो अल्लाह के प...",ওহে যারা ঈমান এনেছ! তোমরা ন্যায়বিচারের দৃঢ় প্...
4,"Whosoever desires the reward of the world, wit...",और जो शख्स (अपने आमाल का) बदला दुनिया ही में च...,"যে কেউ দুনিয়ার কল্যাণ কামনা করবে, তার জেনে রাখ..."

In [57]:
df2=df.drop_duplicates(subset=['English','Hindi',"Bengali"])

In [58]:
df2.shape

(21220159, 3)

In [50]:
df1=pd.read_csv("/data1/home/piyushmishra/newgithub/parallel_data_output/enhibn.csv")

In [51]:
df1.shape

(1205901, 3)

In [56]:
dictionary={}
for i in range((df.shape[0])):
    eng = df.iloc[i]['English']
    if eng in dictionary.keys():
        if len(dictionary[eng])>2:
            print(eng)
            print(dictionary[eng]) 
            break
        dictionary[eng].append((df.iloc[i]['Hindi'],df.iloc[i]['Bengali']))
    else:
        dictionary[eng]=[(df.iloc[i]['Hindi'],df.iloc[i]['Bengali'])]

Whosoever desires the reward of the world, with Allah is the reward of the world and of the Everlasting Life. Allah is the Hearer, the Seer.
[('और जो शख्स (अपने आमाल का) बदला दुनिया ही में चाहता है तो ख़ुदा के पास दुनिया व आख़िरत दोनों का अज्र मौजूद है और ख़ुदा तो हर शख्स की सुनता और सबको देखता है', 'যে কেউ দুনিয়ার কল্যাণ কামনা করবে, তার জেনে রাখা প্রয়োজন যে, দুনিয়া ও আখেরাতের কল্যাণ আল্লাহরই নিকট রয়েছে। আর আল্লাহ সব কিছু শোনেন ও দেখেন।'), ('और जो शख्स (अपने आमाल का) बदला दुनिया ही में चाहता है तो ख़ुदा के पास दुनिया व आख़िरत दोनों का अज्र मौजूद है और ख़ुदा तो हर शख्स की सुनता और सबको देखता है', 'ওহে যারা ঈমান এনেছ! তোমরা ন্যায়বিচারের দৃঢ় প্রতিষ্ঠাতা হও, আল্লাহ্\u200cর উদ্দেশ্যে সাক্ষ্যদাতা হও, যদিও তা তোমাদের নিজেদের বিরুদ্ধে যায় অথবা পিতা-মাতার ও নিকট-আ\u200cত্মীয়ের, সে ধনী হোক অথবা গরীব, -- কেননা আল্লাহ্ তাদের উভয়ের বেশি নিকটবর্তী। কাজেই কামনার অনুবর্তী হয়ো না পাছে তোমরা ভ্রষ্ট হও। আর যদি তোমরা বিকৃত করো অথবা ফিরে যাও, তবে নিঃসন্দেহ তোমরা যা করো আল্লাহ্ হচ্ছেন তার পূর্ণ ওয়াকিফহাল।'), ('जो कोई दुनिया का बदला चाहता है, तो अल्लाह के पास दुनिया का बदला भी है और आख़िरत का भी। अल्लाह सब कुछ सुनता, देखता है', 'যে কেউ দুনিয়ার কল্যাণ কামনা করবে, তার জেনে রাখা প্রয়োজন যে, দুনিয়া ও আখেরাতের কল্যাণ আল্লাহরই নিকট রয়েছে। আর আল্লাহ সব কিছু শোনেন ও দেখেন।')]